.nav {
    display: flex;
}
.flex-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    background-color: #dff7f1;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: black;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    
}

