nav {
    display: flex;
    align-items: center;
}
.flex-search {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.search {
    background-color: #dff7f1;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: black;
    min-width: 350px;
    align-items: center;
    justify-content:center ;
}
.user {
    display: flex;
    align-items: right;
    justify-items: right;
}
.profile {
    display: flex;
    background-color: #dff7f1;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: black;
    max-width: 80px;
}
.logout {
    display: flex;
    background-color: #dff7f1;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: black;
    max-width: 60px;
}
